@media screen and (min-width: 320px) and (max-width: 539px) {
    form {
        width: 90%;
        left: 5%;
    }

    section {
        display: block;
        width: 90%;
    }

    div.divCircle {
        width: 76%;
    }

    article {
        width: 100%;
        margin: 8% auto;
    }

    #totalCompanies {
        left: 43%;
        top: 49%;
    }

    .textHolder > div {
        clear: both;
        float: none;
    }

    .textHolder {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: block;
    }

    .companyPartners {
        padding: 0;
    }

    .oneCompany {
        margin: 0;
    }

    .pieWrap {
        padding-bottom: 100%;
    }

    .articlePadding {
        padding-top: 120%;
    }

    .newsPadding {
        padding-top: 85%;
    }

    .newsFirstRowPadding {
        padding-top: 65%;
    }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
    section {
        display: block;
        width: 90%;
    }

    .divCircle {
        width: 80%;
        height:70%;
    }

    #totalCompanies {
        left: 45%;
    }

    form {
        width: 90%;
        left: 5%;
    }

    article {
        width: 100%;
        margin: 8% auto;
    }

    .textHolder > div {
        clear: both;
        float: none;
    }

    .textHolder {
        display: block;
    }

    .companyPartners {
        padding: 0;
    }

    .oneCompany {
        margin: 0;
    }

    .pieWrap {
        padding-bottom: 60%;
    }

    .articlePadding {
        padding-top: 70%;
    }

    .newsPadding {
        padding-top: 50%;
    }

    .newsFirstRowPadding {
        padding-top: 40%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    section {
        display: flex;
        width: 100%;
    }

    div.textHolder {
        display: block;
    }

    article {
        width: 45%;
    }

    .sortCompany {
        width: 100%;
        max-width: unset;
    }

    .pieWrap {
        padding-bottom: 100%;
    }

    .articlePadding {
        padding-top: 120%;
    }

    .newsPadding {
        padding-top: 90%;
    }

    .newsFirstRowPadding {
        padding-top: 70%;
    }
}

@media screen and (min-width: 1024px) {
    section {
        display: flex;
        width: 100%;
    }

    .sortCompany {
        width: 100%;
        max-width: unset;
    }

    article {
        max-width: unset;
        width: 45%;
        max-height: unset;
        margin: 3% 0;
    }

    .pieWrap {
        padding-bottom: 60%;
    }

}